body{


}

html{
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;

}

.jumbotron{

    background-color: white;
}


.container{
    background-color: #e8e4ff;
    padding-bottom: 50px;
    padding-top: 50px;

}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

@media (min-width: 768px){
    .container {
        width: 700px;
        border-radius: 25px;
        border: 2px solid #e8e4ff;
    }}